STATIC_URL = 'https://csdnimg.cn/weapp/seed_taroapp/'
  .newLogin
    height 100%
    background-image url(STATIC_URL+'newLogin_back.jpg')
    background-size cover
    padding 11% 76px 0
    .newLogin_titleBox
      padding-top 144px
      display flex
      justify-content space-evenly
      .newLogin_titleBox-text
        font-size 32px
        color #999999
        vertical-align left
      .newLogin_titleBox-underLine
        width 124px
        height 6px
        margin 12px 0 0 2px
        background #CA0C16
    .newLogin-sendMessage
      height 88px
      background #E0E0E0
      border-radius 8px
      color #FFFFFF
      font-size 32px
      line-height 88px
      text-align center
      margin-top 26px
      border none
      outline none
    .newLogin-wonderful
      font-size 28px
      color #999999
      text-align center
      margin-top 32px
    .newLogin-getNew
      width auto
      margin 48px auto 0
      text-align center
      .newLogin-getNew-message
        font-size 28px
        color #999999
        width auto
        display inline-block
      .newLogin-getNew-url
        width auto
        font-size 28px
        color #4A9BDC
        border-bottom 1px solid #4A9BDC
        display inline-block
