STATIC_URL = 'https://csdnimg.cn/weapp/seed_taroapp/'
.newLogin-mobile
  padding 64px 0 0 0
  .newLogin-mobile_phone
    display flex
    justify-content space-between
    .newLogin-choose
      position relative
      width 106px
      margin-right 26px
      &:after
        content ''
        display inline-block
        width 0
        height 0
        border 9px solid transparent
        border-top 9px solid #D6D6D6
        position absolute
        top 20px
        right 0px
      .pick_item
        width 100%!important
        overflow auto!important
    .newLogin-mobile_phoneNum
      display block
      color #4D4D4D
      font-size 32px
    .newLogin-mobile_clearBtn
      width 45px
      height 32px
      margin-top 12px
      .icon-close
        width 32px
        height 32px
      .hide
        display none!important
  .newLogin-mobile_underLine
    margin-top 16px
    height 2px
    width 100%
    background #E0E0E0
  .newLogin-mobile_passNum
    margin-top 48px
    display flex
    justify-content space-between
    .newLogin-mobile_inpass
      border none
      outline none
    .newLogin-mobile_send
      font-size 32px
      color #4A9BDC
      margin-right 4px
  .newLogin-mobile_error
    height 42px
    line-height 42px
    margin-top 8px
    color #CA0C16
    font-size 24px
  .newLogin-sendMessage
    height 88px
    background #E0E0E0
    border-radius 8px
    color #FFFFFF
    font-size 32px
    line-height 88px
    text-align center
    margin-top 26px
  button::after
    border none
    outline none
