STATIC_URL = 'https://csdnimg.cn/weapp/seed_taroapp/'
.allUse
  height 76px
  padding-left 32px
  position fixed
  top 12px
  left 0
  width 100%
  background white
  z-index 1000
  border-bottom 1px solid #E0E0E0
  .commonImg
    width 44px
    height 44px
  .allUseBack
    width 80px
    height 38px
    float left
    margin-top 14px
  .allUseHome
    //width 38px
    //height 34px
    float left
    //margin 16px 0 0 4px
    margin-top 12px
  .allUseSearch
    width 306px
    height 64px
    border-radius 32px
    background #F5F6F7
    float left
    margin-left 52px
    display flex
    align-items center
    .searchText
      font-size 28px
      color #999999
      margin 0 0 0 20px
    .search
      margin 0 0 0 88px
      padding-top 4px
      .searchimg
        width 28px
        height 28px
