STATIC_URL = 'https://csdnimg.cn/weapp/seed_taroapp/'
body 
  background #FFFFFF 
.index
  .loginBar
    height 116px
    width 692px
    margin 0 auto 0
    border none
    background #31343B
    border-radius 14px
    .avatar
      display inline-block
      height 72px
      width 72px
      margin 6px 22px 0 29px
      pointer-events none
      vertical-align middle
    .login_text
      display inline-block
      height 87px
      position relative
      top 20px
      .username
        display block
        font-size 31px
        font-weight 500
        color #FFFFFF
      .info
        display block
        font-size 22px
        color #FFFFFF
    .login_btn
      display inline-block
      width 130px
      height 58px
      line-height 58px
      border-radius 9px
      font-size 27px
      font-weight 500
      background #DE2C32
      color #FFFFFF
      text-align center
      float right 
      margin 29px 29px 0 0 
  .container
    position relative
    .banner
      width 100%
      background  rgba(31,33,36,1)
      padding-bottom 14px
      position relative
      .rebate_rule
        width 128px
        position absolute
        height 56px
        top 16px
        left 0px
        background #E69545 
        line-height 56px 
        text-align center 
        border-radius  0px 48px 48px 0px 
        color #DE2C32
        font-size 22px
      .share_title 
        height 128px
        line-height 128px 
        color #FFD666
        text-align center 
        font-size 52px
      .share_btn
        width 320px
        height 72px
        background rgba(255,216,89,1)
        box-shadow 0px 4px 8px 0px rgba(77,65,50,0.3),0px -6px 0px 0px rgba(222,44,50,0.3)
        border-radius 36px
        margin 0 auto 32px
        color #DE2C32 
        font-size 32px
        line-height 72px 
        text-align center
      .share_stage
        display flex
        justify-content center
        .share_img 
          display block
          height 72px
      .title
        font-size 33px
        font-weight 500
        color #F5D493
        line-height 45px
        text-align center
        padding-top 38px
      .title2
        color #F5D493
        font-size 22px
        font-weight 400
        text-align center
    .blank
      width 100%
      height 592px
      background #F5D493
      padding-top 48px
      .save_text
        font-size 22px
        font-weight 400
        color rgba(166,124,66,1)
        line-height 29px
        text-align center
        margin 32px 0 
      .words
        font-size 25px
        font-weight 500
        color rgba(77,65,50,1)
        text-align center
        margin 0 auto 22px
        position relative
        .line
          display inline-block
          width 624px
          border-top 1PX solid rgba(77,65,50,1)
        .text
          color #4D4132
          vertical-align middle
          padding 0 40px
          position absolute
          left 50%
          transform translateX(-50%)
          background #F5D493
          line-height 50px
      .group_icon
        overflow hidden
        padding 0 29px
        .box
          float left
          margin-bottom 29px
          height 109px
          .item_block
            text-align center
            position relative
            .privilege
              position absolute
              top 0px
              right 20px
              height 29px
              width 51px
              pointer-events none
              vertical-align sub
            .sendBook
              position absolute
              top 0px
              right 32px
              height 43px
              width 43px
              pointer-events none
              vertical-align sub
            .icon
              width 80px
              height 80px
              display block
              margin 0 auto
              // margin-bottom 14px
              pointer-events none
              vertical-align sub
            .title
              font-size 20px
              font-weight 400
              color rgba(77,65,50,1)
              margin-bottom 5px
            .ext
              font-size 20px
              font-weight 400
              color rgba(77,65,50,1)
    .mid_cont
      width 100%
      overflow auto
      .swiper
        margin-left 29px
        .group
          margin-bottom 43px
          .block1
            float left
            width 221px
            margin-right 14px
            position relative
            .coupon_img
              width 134px
              position absolute
              top -30px
              left calc(50% - 67px)
              z-index 99
              pointer-events none
              vertical-align sub
            .block1_img
              // margin-bottom 29px
              // border 1PX solid rgba(199,153,71,0.6)
              // border-radius 9PX
              overflow hidden
              background rgba(255,255,255,1)
              border-radius 9px
              .img1
                width 207px
                display block
              .box1
                text-align center
                border-top 0
                box-sizing border-box
                position relative
                .title
                  font-size 25px
                  font-weight 500
                  color rgba(166,124,66,1)
                  margin-bottom 8px
                  white-space nowrap
                  overflow hidden
                  text-overflow ellipsis
                  box-sizing border-box
                  padding-top 25px
                .price
                  font-size 36px
                  font-weight 500
                  color rgba(89,76,58,1)
                  line-height 36px
                  font-family PingFangSC-Semibold;
                .price1
                  font-size 20px
                  font-weight 400
                  color rgba(37,39,43,0.5)
                  margin-bottom 25px
                .price2 
                  font-size 20px
                  font-family 'PingFangSC-Regular,PingFang SC'
                  font-weight 400
                  color rgba(37,39,43,0.5)
                .price2:after 
                  width 80px
                  content ''
                  position absolute
                  bottom 50%
                  transform translate(-50%,-50%)
                  left 50%
                  height 1px 
                  background #25272B
                  z-index 1500
                .price_tag
                  width 116px
                  height 33px 
                  margin 4px auto 22px 
                  border-radius 16px 
                  background #4D4132 
                  color #FFFFFF 
                  font-size 20px
                  text-align center
                  line-height 33px 
                  font-family 'PingFangSC-Regular,PingFang SC'
                  font-weight 500
            .box_active
              background #F5D493
              border-bottom 1px solid #F5D493
            .superBox
              width 126px
              height 48px
              position absolute
              left 48px
              top -32px
              .superBox_img
                width 126px
                height 48px
                position absolute
                top 0
                left 0
                z-index 0
            .iosSuper
              width 103px
              height 40px 
              background #FFAA00
              font-size 20px 
              line-height 40px 
              color #FFFFFF 
              border-radius 0px 11px 0px 11px
              position absolute
              right 0
              top -18px 
              z-index 100
              text-align center
          .block_last
            margin-right 0
    .pad
      padding 0 43px
      box-sizing border-box
      // top 384px
      width 100%
      margin-bottom 48px
      display flex
      justify-content space-around
      .btn_order
        width 100%
        height 80px
        line-height 80px
        background rgba(77,65,50,1)
        box-shadow:inset 0px -5px 0px 0px rgba(0,0,0,0.25),0px 4px 11px 0px rgba(77,65,50,0.5)
        border-radius 9px
        font-size 29px
        font-weight 400
        color #ffffff
        text-align center
      .btn_order_gold
        color rgba(230,194,133,1)  
      .new_btn_order
        width 525px 
        height 87px 
        background #4D4132
        border-radius 10px
        position relative 
        box-sizing border-box
        .old_price 
          font-size 20px
          font-family 'PingFangSC'
          line-height 29px
          color rgba(255,255,255,0.5)
          text-align center
          margin-top 7px
        .real_price 
          font-size 29px
          font-family 'PingFangSC'
          font-weight 500
          line-height 43px
          color #FFFFFF
          margin-top 6px
          text-align center
        .new_btn
          position absolute 
          right 0
          top 0
          width 228px
          height 101px
          background rgba(77,65,50,1) 
          box-shadow 0px 4px 10px 0px rgba(77,65,50,0.5)
          border-top-right-radius 10px
          border-bottom-right-radius 10px
          color #E6C285 
          line-height 101px
          text-align center 
          font-size 28px
          font-weight 500
      .new_btn_order1
        width 100%   
      .student_btn
        width 116px
        height 87px
        box-sizing border-box
        border-radius 9px
        padding-top 14px
        background rgba(199,153,71,1)
        box-shadow 0px 4px 11px 0px rgba(199,153,71,0.5)
        text-align center 
        color #FFFFFF 
        font-size 22px
        line-height 29px
      .iOS_btn
        width 663px
        height 87px 
        line-height 87px
        color #FFFFFF 
        text-align center
        font-size 33px 
        border-radius 9px 
        background #4D4132
  .grey_block
    width 100%
    background rgba(240,240,245,1)
    height 22px
  .right_info
    padding 51px 29px
    box-sizing border-box
    .title
      margin-bottom 44px
      text-align center
      font-size 25px
      font-weight 400
      color #a67c42
    .recommendCourses
      margin-bottom 52px
      .title
        font-size 25px
        font-weight 500
        color rgba(77,65,50,1)
        line-height 36px
        margin-bottom 9px
        .goldenstar
          height 18px
          width 18px
          pointer-events none
      .title2
        font-size 22px
        font-weight 400
        color rgba(199,153,71,1)
        line-height 31px
        text-align center
        margin-bottom 43px
      .course_list
        background rgba(250,236,212,1)
        border-radius 22px
        .title_bar
          height 58px
          border-radius 22px 22px 0px 0px
          background rgba(230,194,133,1)
          padding 0 29px
          .title_text
            display inline-block
            font-size 22px
            color rgba(255,255,255,1)
            vertical-align super
          .right_text
            float right
            margin-left 76px
            margin-top 13px
        .list
          height 72px
          overflow hidden
          .course_title,.course_price,.vip_free
            font-size 22px
            font-weight 400
            color rgba(77,65,50,1)
            line-height 72px
          .course_title
            // display inline-block
            float left
            width 380px
            margin-left 29px
            white-space nowrap
            text-overflow ellipsis
            overflow hidden
          .course_price
            float right
            color rgba(199,153,71,1)
            // margin-top 21px
          .vip_free
            float right
            color rgba(217,46,46,1)
            margin-left 46px
            margin-right 23px
        .list:nth-child(2n)
          background rgba(255,246,230,1)
      .all_course_link
        font-size 25px
        color rgba(77,65,50,1)
        line-height 36px
        text-align center
        margin 36px 0
      .btn_wrap
        height 144px
        width 100%
        background #fff
        padding 28px 80px
        box-sizing border-box
        .btn
          height 80px
          background rgba(217,46,46,1)
          box-shadow:0px 4px 11px 0px rgba(217,46,46,0.5)
          border-radius 9px
          font-size 27px
          font-weight 500
          line-height 78px
          text-align center
          .btn_order
            .superviptext_img
              vertical-align middle
              pointer-events none
              height 80px
              width 100%
      .btn_fixed
        position fixed
        bottom 0
        left 0
    .explain
      font-size 20px
      font-weight 400
      color #888E99!important
      padding-bottom 150px
      .title
        color rgba(77,65,50,1)
        font-size 22px
        margin-bottom 22px
  .not-loggedin
    top 582px
.scrollview
  height 100%