STATIC_URL = 'https://csdnimg.cn/weapp/seed_taroapp/'
.coupon
  width 100%
  height 1334px
  background rgba(240,240,245,1)
  padding 29px 29px
  box-sizing border-box
  .coupon_list
    .coupon_item
      overflow hidden
      margin-bottom 22px
      background #ffffff
      .block
        float left
        position relative
        overflow hidden
        width 25%
        .left_con
          float left
          display block
          width 174px
          height 174px
          background linear-gradient(135deg,rgba(224,224,224,1) 0%,rgba(217,217,217,1) 100%);
          text-align center
          position relative
          color  #ffffff
          padding 29px 0
          box-sizing border-box
          &::before
            width 22px
            height 22px
            border-radius 50%
            background rgba(240,240,245,1);
            position absolute
            display block
            left -10px
            top 82px
            content ''
          .price
            line-height 76px
            .int
              font-size 65px
              font-family DINAlternate-Bold
              font-weight bold
              color rgba(255,255,255,1)
            .words
              font-size 25px
              font-family PingFangSC-Regular
              font-weight 400
              color rgba(255,255,255,1)

          .desc
            font-size 22px
            font-family PingFangSC-Regular
            font-weight 400
            color rgba(255,255,255,1)
        .pink
          background linear-gradient(135deg,rgba(255,204,204,1) 0%,rgba(242,97,97,1) 100%)
        .gold
          background linear-gradient(135deg,rgba(255,195,77,1) 0%,rgba(242,101,73,1) 100%)
        .grey
          background linear-gradient(135deg,rgba(224,224,224,1) 0%,rgba(217,217,217,1) 100%)
        .slice
          float left
          display block
          width 5px
          height 174px
          position absolute
          top 0
          right 0
      .right_con
        float right
        height 174px
        //width 490px
        width 75%
        position relative
        padding 22px 29px
        box-sizing border-box
        //padding-left 0
        overflow hidden
        &::after
          width 22px
          height 22px
          border-radius 50%
          background rgba(240,240,245,1)
          position absolute
          display block
          right -10px
          top 82px
          content ''

        .fron
          .title
            font-size 36px
            font-family PingFangSC-Regular
            font-weight 400
            color rgba(42,45,51,1)
            width 100%
            white-space nowrap
            overflow hidden
            text-overflow ellipsis
          //margin-bottom 11px
          .range
            font-size 22px
            font-family PingFangSC-Regular
            font-weight 400
            color rgba(136,142,153,1)
            margin-bottom 7px
            width 100%
            white-space nowrap
            overflow hidden
            text-overflow ellipsis
          .time
            font-size 22px
            font-family PingFangSC-Regular
            font-weight 400
            color rgba(136,142,153,1)
            width 100%
            white-space nowrap
            overflow hidden
            text-overflow ellipsis

        .expire
          float right
          width 145px
          height 145px
          display block
          position absolute
          top 14.5px
          right 10px

  .blank
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    margin auto
    width 200px
    height 120px
    .default_img
      width 200px
      height 120px
      display block
    .tip
      margin-top 20px
      font-size 20px
      color #c0c0c0
      text-align center

